. {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background: url(image.avif) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 350px;
    height: 100px;
    background: linear-gradient(#ff5100, #6b3019);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    outline: none;
    font-family: "Slabo 27px", serif;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0 10px 10px #000;
    cursor: pointer;
    transform: rotateX(70deg) rotateZ(30deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.btn::before {
    content: "";
    width: 100%;
    height: 15px;
    background-color: #6b3019;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.btn::after {
    content: "";
    width: 15px;
    height: 100%;
    background-color: #ff5100;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-90deg);
    transform-origin: right;
}

.btn:hover {
    transform: rotateX(30deg);
}